
<tbody>
    <% @results.results.each do |result| %>
    <p>
      <tr>
        <td><%= result.name %></td>
        <td><%= result.description %></td>
      </tr>
      </p>
    <% end %>
  </tbody>

