<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sub_category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sub_category.description %>
</p>
<p>
<form action="/search" method="post">
Search Query : <input type="text" name="search">
<br>
Price From :<input type="text" name="price_from">
<br>
Price To: <input type="text" name="price_to">
<br>
<input type="hidden" name="from" value="sub_category">
<input type="hidden" name="id" value="<%=params[:id]%>">

<input type="submit">


</form>
</p>